*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;}

body{
    background: #aad3dc;
}

body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;}

.top_navbar {
  height: 45px;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
    color: rgb(241, 237, 237);
}

.wrapper .section .top_navbar{
    background: rgb(5, 68, 104);
    display: flex;
    padding: 0 10px;
}

.wrapper .top_navbar ul li a{
    display: block;
    padding: 13px 20px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
}

.cmdp {
  position: absolute;
  top: 0px;
  right: 15%;
}


.deco {
  position: absolute;
  top: 0px;
  right: 0.5%;
}



.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;}



.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


.wrapper .sidebar .profile img{
    display: block;
    width:70%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
    text-align:center;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
    text-align:center;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 20px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.main {
  margin-left: 220px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


.wrapper .sidebar ul li a:hover,

.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}


#news {
    width: 300px;
    height: 90px;
    background-color: yellow;
    overflow-x: auto;
}

#inline {
    width: calc(150px * 3);
    height: 100%;
    overflow: hidden; /* or any clear-fix snippet */
}
table{
margin-top:1%;
margin-left:1%;
color:white;
text-align:center;
font-size: 15px;
background:#ffffff;
}

thead{
color:white;
border: 3px solid  #04414f;
 text-align: center;
 font-size: 20px;
 padding: 10px;
 color: #ffff;
 height: 100%;
 
}